---
import { Image } from 'astro:assets';
import ParejaF1 from "src/assets/Pareja/F1.jpg"
import ParejaF2 from "src/assets/Pareja/F2.jpg"
import ParejaF3 from "src/assets/Pareja/F3.jpg"
import ParejaF4 from "src/assets/Pareja/F4.jpg"
import ParejaF5 from "src/assets/Pareja/F5.jpg"
import ParejaF6 from "src/assets/Pareja/F6.jpg"
import TestVideo from "../../../public/pedidademano.mp4"
---

<section class="w-full bg-[#F9FAFB]">
    <div class="max-w-7xl mx-auto p-4">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <!-- Sección 1 -->
            <div class="relative rounded-xl overflow-hidden">
                <img
                        id="image1"
                        src={ParejaF1.src}
                        alt="Pareja 1"
                        class="w-full h-full object-cover aspect-square transition-opacity duration-1000 opacity-100"
                />
            </div>
            <!-- Sección 2 -->
            <div class="relative rounded-xl overflow-hidden">
                <img
                        id="image2"
                        src={ParejaF2.src}
                        alt="Pareja 2"
                        class="w-full h-full object-cover aspect-square transition-opacity duration-1000 opacity-100"
                />
            </div>
            <!-- Sección 3 -->
            <div class="relative rounded-xl overflow-hidden">
                <img
                        id="image3"
                        src={ParejaF3.src}
                        alt="Pareja 3"
                        class="w-full h-full object-cover aspect-square transition-opacity duration-1000 opacity-100"
                />
                <div class="absolute top-2 right-2">
                </div>
            </div>
            <!-- Sección 4 -->
            <div class="relative rounded-xl overflow-hidden">
                <img
                        id="image4"
                        src={ParejaF4.src}
                        alt="Pareja 4"
                        class="w-full h-full object-cover aspect-square transition-opacity duration-1000 opacity-100"
                />
            </div>

            <!-- Sección 5 -->
            <div class="relative rounded-xl overflow-hidden col-span-2">
                <img
                        id="image5"
                        src={ParejaF5.src}
                        alt="Pareja 5"
                        class="w-full h-full object-cover aspect-[2/1] transition-opacity duration-1000 opacity-100"
                />
            </div>
            <!-- Sección 6 -->
            <div class="relative rounded-xl overflow-hidden">
                <img
                        id="image6"
                        src={ParejaF6.src}
                        alt="Pareja 6"
                        class="w-full h-full object-cover aspect-square transition-opacity duration-1000 opacity-100"
                />
            </div>
            <!-- Sección 7 -->
            <div class="relative rounded-xl overflow-hidden">
                <video
                        autoplay
                        loop
                        muted
                        id="image7"
                        src={TestVideo}
                        class="w-full h-full object-cover aspect-square transition-opacity duration-1000 opacity-100"
                />
                <div class="absolute bottom-2 right-2">
                    <a href="https://www.youtube.com/shorts/1wICenzg2eA"
                       class="bg-white text-black px-3 py-1 rounded-lg text-sm font-medium">
                        Ver Pedida de mano
                    </a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .grid {
            grid-auto-flow: dense;
        }
    </style>
</section>

<script>

    import ParejaF1 from "src/assets/Pareja/F1.jpg"
    import ParejaF2 from "src/assets/Pareja/F2.jpg"
    import ParejaF3 from "src/assets/Pareja/F3.jpg"
    import ParejaF4 from "src/assets/Pareja/F4.jpg"
    import ParejaF5 from "src/assets/Pareja/F5.jpg"
    import ParejaF6 from "src/assets/Pareja/F6.jpg"
    import ParejaF7 from "../../assets/Pareja/F7.jpg"
    import ParejaF8 from "../../assets/Pareja/F8.jpg"
    import ParejaF9 from "../../assets/Pareja/F9.jpg"
    import ParejaF10 from "../../assets/Pareja/F10.jpg"
    import ParejaF11 from "../../assets/Pareja/F11.jpg"
    import ParejaF12 from "../../assets/Pareja/F12.jpg"
    import ParejaF13 from "../../assets/Pareja/F13.jpg"
    import ParejaF14 from "../../assets/Pareja/F14.jpg"
    import ParejaF15 from "../../assets/Pareja/F15.jpg"
    import ParejaF16 from "../../assets/Pareja/F16.jpg"
    import ParejaF17 from "src/assets/Pareja/F17.jpg"
    import ParejaF18 from "../../assets/Pareja/F18.jpg"
    import ParejaF19 from "../../assets/Pareja/F19.jpg"
    import ParejaF20 from "../../assets/Pareja/F20.jpg"
    import ParejaF21 from "../../assets/Pareja/F21.jpg"
    import ParejaF22 from "../../assets/Pareja/F22.jpg"
    import ParejaF23 from "../../assets/Pareja/F23.jpg"
    import ParejaF24 from "../../assets/Pareja/F24.jpg"
    import ParejaF25 from "../../assets/Pareja/F25.jpg"
    import ParejaF26 from "../../assets/Pareja/F26.jpg"
    import ParejaF27 from "../../assets/Pareja/F27.jpg"
    import ParejaF28 from "../../assets/Pareja/F28.jpg"
    import ParejaF29 from "../../assets/Pareja/F29.jpg"
    import ParejaF30 from "../../assets/Pareja/F30.jpg"
    import ParejaF31 from "../../assets/Pareja/F31.jpg"
    import ParejaF32 from "../../assets/Pareja/F32.jpg"
    import ParejaF33 from "../../assets/Pareja/F33.jpg"
    import ParejaF34 from "../../assets/Pareja/F34.jpg"
    import ParejaF35 from "../../assets/Pareja/F35.jpg"
    import ParejaF36 from "../../assets/Pareja/F36.jpg"
    import ParejaF37 from "../../assets/Pareja/F37.jpg"
    import ParejaF38 from "../../assets/Pareja/F38.jpg"
    import ParejaF39 from "../../assets/Pareja/F39.jpg"
    import ParejaF40 from "../../assets/Pareja/F40.jpg"
    import ParejaF41 from "../../assets/Pareja/F41.jpg"
    import ParejaF42 from "../../assets/Pareja/F42.jpg"
    import ParejaF43 from "src/assets/Pareja/F43.jpg"
    // Array con 43 imágenes de la pareja (actualizadas con las rutas correctas)
    const photos = [
        { title: 'Pareja 1', src: ParejaF1.src },
        { title: 'Pareja 2', src: ParejaF2.src },
        { title: 'Pareja 3', src: ParejaF3.src },
        { title: 'Pareja 4', src: ParejaF4.src },
        { title: 'Pareja 5', src: ParejaF5.src },
        { title: 'Pareja 6', src: ParejaF6.src },
        { title: 'Pareja 7', src: ParejaF7.src },
        { title: 'Pareja 8', src: ParejaF8.src },
        { title: 'Pareja 9', src: ParejaF9.src },
        { title: 'Pareja 10', src: ParejaF10.src },
        { title: 'Pareja 11', src: ParejaF11.src },
        { title: 'Pareja 12', src: ParejaF12.src },
        { title: 'Pareja 13', src: ParejaF13.src },
        { title: 'Pareja 14', src: ParejaF14.src },
        { title: 'Pareja 15', src: ParejaF15.src },
        { title: 'Pareja 16', src: ParejaF16.src },
        { title: 'Pareja 17', src: ParejaF17.src },
        { title: 'Pareja 18', src: ParejaF18.src },
        { title: 'Pareja 19', src: ParejaF19.src },
        { title: 'Pareja 20', src: ParejaF20.src },
        { title: 'Pareja 21', src: ParejaF21.src },
        { title: 'Pareja 22', src: ParejaF22.src },
        { title: 'Pareja 23', src: ParejaF23.src },
        { title: 'Pareja 24', src: ParejaF24.src },
        { title: 'Pareja 25', src: ParejaF25.src },
        { title: 'Pareja 26', src: ParejaF26.src },
        { title: 'Pareja 27', src: ParejaF27.src },
        { title: 'Pareja 28', src: ParejaF28.src },
        { title: 'Pareja 29', src: ParejaF29.src },
        { title: 'Pareja 30', src: ParejaF30.src },
        { title: 'Pareja 31', src: ParejaF31.src },
        { title: 'Pareja 32', src: ParejaF32.src },
        { title: 'Pareja 33', src: ParejaF33.src },
        { title: 'Pareja 34', src: ParejaF34.src },
        { title: 'Pareja 35', src: ParejaF35.src },
        { title: 'Pareja 36', src: ParejaF36.src },
        { title: 'Pareja 37', src: ParejaF37.src },
        { title: 'Pareja 38', src: ParejaF38.src },
        { title: 'Pareja 39', src: ParejaF39.src },
        { title: 'Pareja 40', src: ParejaF40.src },
        { title: 'Pareja 41', src: ParejaF41.src },
        { title: 'Pareja 42', src: ParejaF42.src },
        { title: 'Pareja 43', src: ParejaF43.src }
    ];

    // Dividir las 43 fotos en 7 grupos
    const sections = [
        photos.slice(0, 7),
        photos.slice(7, 14),
        photos.slice(14, 21),
        photos.slice(21, 28),
        photos.slice(28, 35),
        photos.slice(35, 42),
        photos.slice(41, 43),
    ];

    let currentIndices = [0, 0, 0, 0, 0, 0, 0]; // Índices para cada sección

    // Función para cambiar la imagen de una sección
    const changeImage = (sectionIndex:number, imageId:string):void => {
        currentIndices[sectionIndex] = (currentIndices[sectionIndex] + 1) % sections[sectionIndex].length;
        const imageElement = document.getElementById(imageId) as HTMLImageElement;

        if (imageElement) {
            imageElement.classList.add('opacity-0');
            imageElement.classList.remove('opacity-100');
            setTimeout(() => {
                imageElement.src = sections[sectionIndex][currentIndices[sectionIndex]].src
                imageElement.alt = sections[sectionIndex][currentIndices[sectionIndex]].title;
                imageElement.classList.add('opacity-100');
                imageElement.classList.remove('opacity-0');
            }, 1000);
        }
    };

    // Intervalos para el cambio de imagen cada 5 segundos para cada sección
    setInterval(() => changeImage(0, 'image1'), 5000);
    setInterval(() => changeImage(1, 'image2'), 6000);
    setInterval(() => changeImage(2, 'image3'), 7000);
    setInterval(() => changeImage(3, 'image4'), 8000);
    setInterval(() => changeImage(4, 'image5'), 9000);
    setInterval(() => changeImage(5, 'image6'), 10000);
</script>
